@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

header{
    background-image: url("/assets/HEADER.jpg");
    padding: 2em 0 2em 5em;
    display: flex;
    gap: 5em;
}

.header{
    color:white;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Besley", serif;
    font-size: 1.15em;
    color: white;
    background-image: url("/assets/PROJETO\ TRUE\ 3.jpg");
    min-height: 100vh;
}

footer{
    display: flex;
    background-color: rgb(71, 61, 55, 70%);
    justify-content: center;
    padding: 1em 0 1em 0;
    margin-top: auto;
}

main{
    display: flex;
}

.main_caixa{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7.5%;
}

.circlos{
    width: auto;
    height: 14em;
    margin-right: 55%;
    position: absolute;
}

.main_caixa_txt{
    display: flex;
    flex-direction: column;
    background-color: rgba(25, 17, 4, 0.75);
    margin-left: 14em;
    width: 55%;
    padding: 0 2em 2em 5em;
    border-radius: 0 35px 0 0;
    gap: .5em;
}

.name{
    display: flex;
    align-items: center;
    background-color: #314012;
    width: 70%;
    height: 3em;
    border-radius: 0 35px 0 0;
    padding-left: 2%;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 10.5em 10em 0 2em;
}

.img_link{
    width: 4.5em;
    height: auto;
}

@media only screen and (max-width: 1200px){
    header{
        font-size: 3vw;
    }
    .links{
        flex-direction: row;
        margin: 0;
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
        margin-bottom: 3vh;
    }
    .main_caixa{
        flex-direction: column;
        gap: 4vh;
    }
    .main_caixa_txt{
        margin: 0 0 0 0;
        padding: 4vh;
        width: 75%;
    }
    .circlos{
        position: sticky;
        margin: 0 0 0 0;
    }
    .name{
        width: 100%;
    }
}
