@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

header{
    background-image: url("//assets/HEADER.jpg");
    padding: 2em 0 2em 5em;
    display: flex;
    gap: 5em;
}

.header{
    color:white;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Besley", serif;
    font-size: 1.15em;
    color: white;
    background-image: url("//assets/PROJETO\ TRUE\ 3.jpg");
    min-height: 100vh;
}

footer{
    display: flex;
    background-color: rgb(71, 61, 55, 70%);
    justify-content: center;
    padding: 1em 0 1em 0;
    margin-top: auto;
}

main{
    margin: 0 0 3em 0;
}

.coisas{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.habilidade{
    display: flex;
    position: relative;
    margin: 2em 0 0 2em;
}

.habilidade_titulo{
    position: absolute;
}

.behind_container{
    display: flex;
    margin: 1em 0 0 3em;
    position: relative;
}

#txt{
    position: absolute;
    padding: 3em 0 0 5em;
    width: 70vw;
    font-size: 3vh;
}

.titulo{
    display: flex;
    position: relative;
}

#titulo{
    position: absolute;
    padding: .7em 0 0 5em;
}

#behind{
    width: 90vw;
    height: 30vh;
}

.linkzao{
    text-decoration: none;
    color: gray;
}

@media only screen and (max-width: 1200px){
    body{
        font-size: 3vw;
    }
    .habilidade{
        margin: 2em 0 0 1.6em;
    }
    .responde{
        width: 80%;
    }
    #titulo{
        padding: .5em 0 0 2.2em;
    }
    .behind_container{
        margin: 1vh 0 0 3vw;
        font-size: 3vw;
    }
    #txt{
        width: 60vw;
        font-size: 3vw;
    }
}
    #txt{
        width: 60vw;
        font-size: 3vw;
    }
}
